<div ng-controller="todoController">
  <h2>Todo Component</h2> 
  <div>Same data passed down from app component: {{todoTwo}} </div>
  <form name="frm" ng-submit="addTodo()">
    <input type="text" name="newTodo" ng-model="newTodo" required>
    <button  type="submit" ng-disabled="frm.$invalid">Add</button>
  </form>
  <button ng-click="clearCompleted()">Clear Completed</button>
  <ul>
    <li ng-repeat="todo in todos">
      <input type="checkbox" ng-model="todo.done"/>
      <span ng-class="{'done': todo.done}" >{{ todo.title }}</span>
    </li>
  </ul>
  <test></test>
</div>